.row {
    position: relative;
    background-color: black;
}

.start, .end {
    position: absolute;
    top: 0;
    width: 80px;
    height: 525px;
    
    z-index: 1;
}

.start {
    left: 180px;
    background: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, rgb(0, 0, 0) 100%);
}

.end {
    right:180px;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgb(0, 0, 0) 100%);

}

h1{
    color:#5000B9;
    background-color: black;
    padding-left: 10px;
}