<div class="fondo">
    <div class="row background-image-container" [ngStyle]="{'background-image': 'linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)),' + backgroundImg}">
     
    <div class="col-3">
        <img [src]="setBackgound()" class="img img-fluid">
    </div>
    <div class="info col-8">
        <h1>{{serie.name}}</h1>
        <div>
            <app-rating-item [average]="serie.vote_average"></app-rating-item>
        </div>
        <p>{{serie.first_air_date}}<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar ms-2" viewBox="0 0 16 16">
            <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
          </svg></p>
        <p>{{serie.overview}}</p>
    </div>
    
</div>
</div>
<div class="list d-flex justify-content-center">
    <div class="list-group  overflow-auto custom-scrollbar" onscroll="handleScroll(this)">
        <div class="card-container d-flex">
            <div class="card me-4" style="width: 18rem;" *ngFor="let temporada of temporadas">
                <img [src]="getTemporadaPoster(temporada)" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5>{{temporada.name}}</h5>
                    <p class="card-text overflow-hidden text-ellipsis">{{temporada.overview}}</p>
                </div>
            </div>
        </div>
    </div>
</div>