.bg{
    background-size: 122%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.vertical-line{
    border-left: 2px solid #5000B9;
    height: 500px;
    margin: 0 ;
}
img{
    box-shadow: rgb(187, 187, 187) 0px 0px 7px;
}
#collectionButton{
    height: 150px;
}
.bg-black-50{
    background-color: rgba(0, 0, 0, 0.3);
    margin-left: 0px;
}