<div class="container-fluid bg min-vh-100 p-0 text-white" [ngStyle]="{'background-image': bgImage}" >
    <div style="background-color: rgba(0, 0, 0, 0.7);" class="min-vh-100 w-100">
        <div class="row w-75 m-auto ">
            <div class="col-8 mt-5 row">
                <div class="col-4">
                    <img [src]="setPosterImgUrl()" alt="" class="rounded-1 w-100">
                </div>
                <div class="col-8 p-0">
                    <h1 class="h1 fw-bold m-0 ">{{movie?.title}}</h1>
                    <div class="d-flex text-white-50  fs-5">
                        <div class="flex-fill">
                            {{movie?.release_date}} <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar" viewBox="0 0 16 16">
                                <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
                            </svg> 
                        </div>
                        <div class="flex-fill">
                            <span *ngFor="let genre of movie?.genres" class="badge rounded-pill text-bg-secondary m-1"> {{genre.name}} </span> 
                        </div>
                        <div class="flex-fill">
                            {{movie?.runtime}}min <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock-fill" viewBox="0 0 16 16">
                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
                              </svg>
                        </div>
                    </div>
                    <br>
                    <h2 class="h2 fw-bold">Overview</h2>
                    <p class="fs-5 m-0">{{movie?.overview}}</p>
                    <p class="text-white-50 fst-italic fs-3 mb-1" >"{{movie?.tagline}}"</p>
                    <h2 class="h2 fw-bold">Rate the Movie</h2>
                    <div class="d-flex justify-content-between">
                        <app-valoration-item [isAMovie]="true" [id]="movieId"></app-valoration-item>
                        <app-watchlist [id]="movie!.id" [type]="'movie'" ></app-watchlist>
                        <app-boton-fav [id]="movie!.id" [type]="'movie'"></app-boton-fav>
                    </div>
                    
                </div>
                <div class="col-12" *ngIf="movie?.belongs_to_collection">
                    <h1 class="h1 fw-bold">Collection</h1>
                    <div class="rounded-3 " [style]="setBackCollectionUrl()" id="collectionButton">
                        <div class="row h-100 w-100 bg-black-50 rounded-3">
                            <div class="col-8 mt-2 align-items-middle display-4">{{movie?.belongs_to_collection?.name}}</div>
                            <div class="col-4 rounded button btn bg-warning p-2 w-25 h-25 align-self-center fw-bold" [routerLink]="['/collection', movie?.belongs_to_collection?.id]">See Full Collection</div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <h1 class="h1 fw-bold">Actors</h1>
                    <div class="d-flex overflow-x-scroll overflow-y-hidden">
                        <div *ngFor="let actor of getActorsList()">
                            <div class="card m-1" style="width: 18rem; height: 500px;" [routerLink]="['/people/', actor.id]">
                                <img [src]="setActorImageUrl(actor)" class="card-img-top" alt="No picture">
                                <div class="card-body">
                                  <h5 class="card-title overflow">{{actor.character}} ({{actor.name}})</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-1 mt-5 d-flex justify-content-center">
                <div class="vertical-line m-auto"></div>
            </div>
            <div class="col-3 mt-5">
                <h2 class="h2 fw-bold">Rating</h2>
                <div>
                    <app-rating-item [average]="movie?.vote_average"></app-rating-item>
                </div>
                
                <h2 class="h2 fw-bold">Directors</h2>
                <p class="text-white "><span *ngFor="let director of getDirectorsList()">{{director.name}} | </span>  </p>
                
                <h2 class="h2 fw-bold">Trailer</h2>
                <iframe width="560" height="315" [src]="setVideoUrl(trailer)" title="YouTube video player" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                
                <h2 class="h2 fw-bold">Images</h2>
                <ngb-carousel *ngIf="carouselImages"   >
                    <ng-template ngbSlide *ngFor="let url of setBgImagesList()" >
                        <div class="picsum-img-wrapper " >
                            <img  [src]="url" alt="Random first slide" class="w-100" />
                        </div>
                    </ng-template>
                </ngb-carousel>
            </div>

        </div>
    </div>
</div>