.card {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    margin: 10px;
    background-color: rgba(88, 18, 162, 0.471);
}

.container {
    position: relative;
    overflow: hidden;
    max-width: 300px;
    z-index: 1;
    height: 500px;

}



img {
    transition: .5s ease all;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.card-body {
    height: 60px;

    padding: 10px;
    box-sizing: border-box;
}

h5 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #e5e5e5;
}

.container:hover img {
    transform: scale(1.5);
}

.container:hover::after {
    opacity: 0.2;
}